:root {
  --gradient-1: linear-gradient(
    43deg,
    rgba(57, 57, 60, 1) 0%,
    rgba(35, 35, 37, 1) 35%,
    rgba(31, 31, 32, 1) 100%
  );
}

body {
  background: var(--gradient-1);
}

/* Eltern-Container mit Perspektive, damit 3D-Effekte sichtbar werden */
.flip-cards-container {
  /* font-family: "Manrope", sans-serif; */
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  perspective: 1000px; /* je größer der Wert, desto „flacher“ wirkt der 3D-Effekt */
  width: 300px;
  height: 410px;
  margin: 50px;
  position: absolute;
}

/* Das „innere“ Flip-Element, das tatsächlich rotiert */
.flip-card {
  /* background-color: transparent; */
  width: 100%;
  height: 200px;
  position: relative;
  transform-style: preserve-3d; /* ermöglicht 3D-Ebenen */
  transform-origin: center calc(100% + 10px);
  transition: transform 1s cubic-bezier(0.84, 0, 0.98, 0.56);
}

/* Vorder- und Rückseite platzieren */
.div1,
.div2,
.div3,
.div4 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* verhindert Durchscheinen der Rückseite */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 400px;
  overflow: hidden;
  color: #fff;
  background: var(--gradient-1);
  border-radius: 25px;
}

.div1 {
}

.div2 {
  transform: rotateX(180deg);
  top: 10px;
}

.div3 {
  border-radius: 25px;
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.7);
}

.div4 {
  top: 210px;
  border-radius: 25px;
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.7);
}

.div2::before,
.div4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15); /* 10% schwarze Überlagerung */
  pointer-events: none; /* das Overlay blockiert keine Interaktionen */
  z-index: 1;
}

.number-one,
.number-three {
  position: absolute;
  top: -30px;
}

.number-two,
.number-four {
  position: absolute;
  top: -230px;
}

.flip-card.flip {
  transform: rotateX(-180deg);
}

#topBackground {
  position: absolute;
}

.divider {
  height: 10px;
  width: calc(100% - 35px);
  margin-left: 15px;
  background: none;
  position: absolute;
  top: 200px;
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.7);
  border-radius: 25px;
}

.no-transition {
  transition: none;
}
